{
    "parser": "babel-eslint",
    "extends": ["airbnb-base", "plugin:flowtype/recommended", "plugin:prettier/recommended"],
    "plugins": [
        "flowtype",
        "jest",
        "prettier"
    ],
    "rules": {
      "no-underscore-dangle": ["error", { "allowAfterThis": true }],
      "no-plusplus": 0,
      "no-prototype-builtins": 0,
      "no-restricted-syntax": ["error", "LabeledStatement", "WithStatement"],
      "no-unused-vars": ["error", {"argsIgnorePattern": "^_"}],
      "no-param-reassign": ["error", { "props": false }],
      "import/prefer-default-export": 0
    },
    "env": {
        "browser": true,
        "jest/globals": true
    }
}
